---
layout: default
---

<section class='content-wrap flex-c'><div class='container row-x1 flex-sb'>
<main class="main-wrap">

<!-- Begin post excerpts, let's highlight the first 5 posts on top -->
<div class="trending-items">
<!-- latest post -->
{% if site.posts.size > 0 %}
{% assign latest_post = site.posts[0] %}
<div class="col-md-6">
  <div class="card border-0 mb-4 box-shadow">   
    <a href="{{ site.baseurl }}{{ latest_post.url }}">
      {% if latest_post.img %}
      <div class="topfirstimage" style="background-image: url('{{ site.baseurl }}/img/{{ latest_post.img }}'); height: 200px; background-size: cover; background-repeat: no-repeat;"></div>
      {% endif %}
    </a>
    <div class="card-body px-0 pb-0 d-flex flex-column align-items-start">
      <h2 class="h4 font-weight-bold">
        <a class="text-dark" href="{{ site.baseurl }}{{ latest_post.url }}">{{ latest_post.title }}</a>
      </h2>
      <p class="excerpt">{{ latest_post.excerpt | strip_html | strip_newlines | truncate: 136 }}</p>
      <div>
        <small class="d-block text-muted">
          In <span class="catlist">
          {% for category in latest_post.categories %}
            <a class="text-capitalize text-muted smoothscroll" href="{{ site.baseurl }}/categories.html#{{ category | downcase }}">{{ category }}</a>{% if forloop.last == false %}, {% endif %}
          {% endfor %}
          </span>                   
        </small>
        <small class="text-muted">{{ latest_post.date | date: '%b %d, %Y' }}</small>
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class="col-md-6">
  <!-- second to fifth latest posts -->
  {% for i in (1..4) %}
  {% assign post = site.posts[i] %}
  {% if post %}
  <div class="mb-3 d-flex align-items-center">
    {% if post.img %}
    <div class="col-md-4">
      <a href="{{ site.baseurl }}{{ post.url }}">
        <img class="w-100" src="{{ site.baseurl }}/img/{{ post.img }}" alt="{{ post.title }}">
      </a>
    </div>
    {% endif %}
    <div>
      <h2 class="mb-2 h6 font-weight-bold">
        <a class="text-dark" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </h2>
      <small class="d-block text-muted">
        In <span class="catlist">
        {% for category in post.categories %}
          <a class="text-capitalize text-muted smoothscroll" href="{{ site.baseurl }}/categories.html#{{ category | downcase }}">{{ category }}</a>{% if forloop.last == false %}, {% endif %}
        {% endfor %}
        </span>                   
      </small>
      <small class="text-muted">{{ post.date | date: '%b %d, %Y' }}</small>
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>

</div>


<div class="blog-posts index-post-wrap list-items">
{% for post in paginator.posts %}
<article class="post hentry item-{{ forloop.index }}">
  {% if post.img %}
    <a class="entry-thumbnail" href="{{ post.url | prepend: site.baseurl }}">
      <span class='thumbnail pbt-lazy' style="background-image: url('{{ "/img/" | prepend: site.baseurl | append: post.img }}')"></span>
    </a>
  {% endif %}
  <div class="post-content">
    <h2 class="post-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
    <p>{{ post.content | strip_html | truncatewords: 15 }}</p>
    <span class="post-date">{{ post.date | date: '%Y, %b %d' }}</span>
    <span class="post-words">
      {% capture words %}
        {{ post.content | number_of_words }}
      {% endcapture %}
      {% unless words contains "-" %}
        {{ words | plus: 250 | divided_by: 250 | append: " minute read" }}
      {% endunless %}
    </span>
  </div>
</article>

{% endfor %}
</div></main>
<aside class="sidebar-wrap">
<div class="sidebar pbt-s" id="sidebar">
    <div id="PopularPosts1" class="widget popular-posts">

<div class="title-wrap widget-title"><h3 class="title">Popular Articles</h3></div>

<div class="widget-content">
<div class="popular-items"> 
    
    {% include popular_articles.html %}
</div></div></div></div>
    
</aside></section>
{% include pagination.html %}
