<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<b:tag name='script' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js' type='text/javascript'/>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/load.js"></script>
<style>/* Sticky Sidebar */
.sticky-sidebar {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 20px; /* Jarak dari atas saat sidebar menjadi sticky */
}
</style>

  <script>
    $(document).ready(function() {
      $('.sidebar').pbtStickySidebar({
        containerSelector: '.container',
        additionalMarginTop: 20,
        additionalMarginBottom: 20,
        updateSidebarHeight: true,
        minWidth: 0,
        disableOnResponsiveLayouts: true,
        sidebarBehavior: 'modern',
        defaultPosition: 'relative',
        namespace: 'PBT'
      });
    });
  </script>

    <script>
document.addEventListener("DOMContentLoaded", function() {
  let currentPage = 1;
  const postsContainer = document.getElementById('posts-container');
  const loadMoreButton = document.getElementById('load-more');

  loadMoreButton.addEventListener('click', function() {
    currentPage++;
    fetch(`/page${currentPage}/index.html`)
      .then(response => {
        if (response.ok) {
          return response.text();
        } else {
          loadMoreButton.style.display = 'none';
          throw new Error('No more pages');
        }
      })
      .then(data => {
        const parser = new DOMParser();
        const htmlDocument = parser.parseFromString(data, "text/html");
        const newPosts = htmlDocument.getElementById('posts-container').innerHTML;
        postsContainer.insertAdjacentHTML('beforeend', newPosts);
      })
      .catch(error => {
        console.error(error);
      });
  });
});
</script>

    
{% include google_analytics.html %}
