---
layout: default
---
<div class="content-wrap flex-c">
    <div class="container row-x1 flex-sb">
<main class='main-wrap'>
    <div class="item-post-inner flex-col">
    
<style>.breadcrumb-list {
  list-style: none;
  padding: 0;
  display: flex;
}

.breadcrumb-item {
  margin-right: 0.5rem;
}

.breadcrumb-item::after {
  content: "/";
  margin-left: 0.5rem;
}

.breadcrumb-item:last-child::after {
  content: "";
}

.breadcrumb-item a {
  text-decoration: none;
  color: #007BFF;
}

.breadcrumb-item.active a {
  color: #6c757d;
  pointer-events: none;
  cursor: default;
}
</style>
                {% include breadcrumb.html %}
<header>
        <article itemscope itemtype="https://schema.org/BlogPosting">

            
                <h1 class="entry-title" itemprop="name headline">{{ page.title }}</h1>
                <p>
                    <em><i class="fas fa-calendar" aria-hidden="true"></i> <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></em>
                    {% if page.author %}
                     • <span itemprop="author" itemscope itemtype="https://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
                    {% endif %}</p>
                    <hr />
            </header>

            <div itemprop="articleBody">
                {{ content }}
            </div>

        </article>
</div>
</div>
</div></div>
