---
layout: default
---
<div class="content-wrap flex-c">
    <div class="container row-x1 flex-sb">
<main class='main-wrap'>
    <div class="item-post-inner flex-col">
    
<style>.breadcrumb-list{list-style:none;padding:0;display:flex}.breadcrumb-item{margin-right:.5rem}.breadcrumb-item::after{content:"/";margin-left:.5rem}.breadcrumb-item:last-child::after{content:""}.breadcrumb-item a{text-decoration:none;color:#007bff}.breadcrumb-item.active a{color:#6c757d;pointer-events:none;cursor:default}
</style>
                {% include breadcrumb.html %}
<header>
        <article itemscope itemtype="https://schema.org/BlogPosting">

            
                <h1 class="entry-title" itemprop="name headline">{{ page.title }}</h1>
                <p>
                    <em><i class="fas fa-calendar" aria-hidden="true"></i> <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></em>
                    {% if page.author %}
                     • <span itemprop="author" itemscope itemtype="https://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
                    {% endif %}</p>
                    <hr />
            </header>

            <div itemprop="articleBody">
                {{ content }}
            </div>

        </article>
      
      <div class='post-share'>
  <ul class='share-a social color'>
    <li class='share-label'><span class='sl'><i/></span></li>
    <li class='facebook has-span'>
      <a class='bi-facebook sl window-open' href="https://www.facebook.com/sharer.php?u={{ page.url | absolute_url }}" rel='nofollow noopener' title='Facebook'>
        <span>Facebook</span>
      </a>
    </li>
    <li class='twitter has-span'>
      <a class='bi-twitter sl window-open' href="https://twitter.com/intent/tweet?url={{ page.url | absolute_url }}" rel='nofollow noopener' title='Twitter'>
        <span>Twitter</span>
      </a>
    </li>
    <li class='whatsapp'>
      <a class='bi-whatsapp sl window-open' href="https://api.whatsapp.com/send?text={{ page.title | escape }} | {{ page.url | absolute_url }}" rel='nofollow noopener' title='WhatsApp'/>
    </li>
    <li class='email'>
      <a class='bi-email sl window-open' href="mailto:?subject={{ page.title | escape }}&amp;body={{ page.url | absolute_url }}" rel='nofollow noopener' title='Email'/>
    </li>
    <li class='show-more'>
      <button class='sl' aria-label='Show more'/>
    </li>
  </ul>
</div>

      
</div>


    <!-- Author Box -->
{% if page.author %}
  {% assign author = site.authors[page.author] %}
  <div class="post-footer flex-col">
<div class="about-author p-widget">
    <div class="author-avatar entry-avatar">
      {% if author.avatar %}
      <img class="avatar pbt-lazy" src="{{ site.baseurl }}{{ author.avatar }}" alt="{{ author.name }}" width="90"/>
      {% endif %}
    </div>
    <div class="author-description flex-col">
      <h3 class="author-title">Written by {{ author.name }}
        {% if author.twitter %}
        <span><a target="_blank" href="{{ author.twitter }}" class="btn btn-outline-success btn-sm btn-round ml-2">Follow</a></span>
        {% endif %}
      </h3>
     <p class="author-text excerpt"> {{ author.bio }} </p>
    </div>
  </div></div>
{% endif %}

</main>
      
      <aside class="sidebar-wrap sticky-sidebar"><div class="sidebar pbt-s section" id="sidebar" name="Sidebar">
 {% include popular_articles.html %}
</div></aside>
      
</div></div>
